/*!

 Only edit the ....

            ||||||||||    ||||||||||    ||||||||||    ||||||||||    
            ||            ||            ||            ||           
            ||            ||            ||            ||            
            ||            ||            ||            ||             
            ||||||||||    ||            ||||||||||    ||||||||||            
                    ||    ||                    ||            ||            
  ||||||            ||    ||                    ||            ||            
  ||  ||            ||    ||                    ||            ||            
  ||||||    ||||||||||    ||||||||||    ||||||||||    ||||||||||             

 files please. When scss compiles, it overwrites the css file,
 so any changes will be long gone if you do them there.

 If you google 'working with scss files' you should be able
 to figure it out, you seem pretty smart.

*/ 

@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/mixins";
@import "partials/dropdown";
@import "partials/typography"; 
@import "bitters/bitters";  
  
// Set this variable to true so that the desktop layout is generated at all resolutions,
// since ltIE9 doesn't cooperate.
$IE9: true;

// ==========================================================================
// General styles
// ==========================================================================

// Establishes box model for site, courtesy Paul Irish.
*, *:before, *:after {   
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;   
}  
  
html {
  font-size: 16px;

  @include mq(52em) {
    font-size: 18px;
  }
}
 
body {
  width: 90%;
  margin: 0 auto;
  max-width: 70em;
  background-color: #fff; 
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 400 !important;
  overflow-x: hidden;
}

h2 {
  font-size: 1.4em;

  @include mq(64em) {
    font-size: 1.7em;
  }
}

// ======================================================
// Header
// ======================================================

.logo-name {
  font-family: 'nexa-black', $helvetica;
  color: $black;
  font-size: 2.4em;

  @include mq(52em) {
    font-size: 3.4em;
  }
}

.h-group {
  float: left;
}

.subhead {
  line-height: .4;
  color: #808080;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .5em;

  @include mq(52em) {
    font-size: 1em;
    letter-spacing: .65em;
  }
}

h1 {
  font-family: 'nexa-extra-bold', $helvetica;
}

h2 {
  font-family: 'nexa-heavy', $helvetica;
}

// ======================================================
// Logo 
// ======================================================

a.header-link:hover .logo {
  @include transform(rotate(360deg));
  @include transform-origin(center center);
  @include transition(transform 500ms ease-in);
}
 
@include ssnd-logo(1.7rem);

@include mq(52em) {
  @include ssnd-logo(2.3rem);
}

.logo { 
  @include rem(margin, .5rem 0 0 .2rem);

  @include mq(52em) {
    @include rem(margin, .9rem 0 0 .5rem);
  }
}

.magenta {
  background-color: $magenta;
}

.cyan {
  background-color: $cyan; 
}
 
.yellow {
  background-color: $yellow;
}

// ======================================================
// Navigation
// ======================================================

header {
  @include clearfix;
  padding: 0 0 4.2em; 
  background: #fff;
 
  @include mq(52em) {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include transition(margin-top 150ms linear);
} 

header nav {
  max-height: 0;
  overflow: hidden;
  @include transition(max-height 150ms linear);
  margin: 0 -6% 1em;

  @include mq(52em) {
    position: relative;
    margin: 0;
    width: auto; 
    z-index: 1;
    overflow: visible; 
  }
} 

header.is-active nav {
  max-height: 10em;
}

header.is-active.dropdown-present nav {
  max-height: 19em;
}

#site-nav-button { 
  float: right;
  width: auto;
  font-size: .8em;
  padding: .5em 0.75em;
  line-height: 0.5;
  margin-top: 1.5em;

  img {
    width: 1.3em;
  }

  @include mq(52em) {
    display: none; 
  }
}

nav > ul {
  a {
    display: inline-block;
  }

  @include mq(52em) {
    float: right;

  }
}
 
[data-toggle="dropdown"] {
  &:after {
    content: "";
    border-left: 4px solid rgba(255, 255, 255, 0);
    border-right: 4px solid rgba(255, 255, 255, 0);
    -moz-transform: scale(.9999); // For smooth edge rendering.
    border-top: 6px solid $black;
    display: inline-block;
    margin-left: .5em;
    margin-bottom: .2em;
  } 
}

.nav-link {

  @include mq(52em) {
    float: left;

    @include transition(background-color 150ms ease-in);

    &.magenta:hover {
      background-color: lighten($magenta, 8);
    }

    &.cyan:hover {
      background-color: lighten($cyan, 8);
    }

    &.yellow:hover {
      background-color: lighten($yellow, 8);
    }
  }

  & > a {
    color: $black;
    position: relative;
    padding: .5em 1em .5em 5%;
    width: 100%;

    @include mq(52em) {
      padding: 4em 1em .5em;
      width: auto;
    } 
  }
}

footer {
  padding: 1em 0;
  margin-bottom: -1em;
  border-top: 1px solid #ccc;
  margin-top: 2em;

  p {
    margin-bottom: 0;
  }
}

.dropdown.cyan .dropdown-menu {
  @include mq(52em) {
    border: 4px solid $cyan;

    & a {
      background-color: none;
      @include transition(background-color 150ms ease-in)
    }

    & a:hover,
    & a:focus {
      background-color: tint($cyan, 10%);
    }
  } 
} 

// ======================================================
// Content - Homepage
// ======================================================

main {
  clear: both;
  padding: 2em .75em 0;
  margin-top: -3em;
  display: block;

  @include mq(52em) {
    margin-top: 0;
    padding: 2em 1.5em 0;
  }
}

main.blog, main.contest {
  padding: 1.5em 0 0;

  @include mq(36em) {
    padding: 2em .75em 0;
  }

  @include mq(52em) {
    margin-top: 0;
    padding: 2em 1.5em 0;
  }
}

.photo-credit {
  color: #000;
  font-size: .7em;
  position: absolute;
  top: 100%;
  left: 0;

  @include mq(52em) {
    font-size: .6em;
  }
}

.intro {
  padding: 1em .8em;
  text-align: center;
  max-width: 70em; 
  background: 0 40% no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  margin: -2em -.75em 1.5em;
  @include background-image(linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('../img/newspaper-background.png'));

  @include mq(52em) {
    padding: 3em 2em;
    margin: -2em -1.5em 1.5em;
  }

  p {
    max-width: 50em;
    margin: 0 auto .75em;
    font-size: 0.9em;
    line-height: 1.6;

    @include mq(52em) {
      font-size: 1em;
      line-height: 1.5;
    }
  }

  a.button {
    display: block;
    margin-top: 2em;  
  }
}

.magenta-border {
  border-top: 4px solid $magenta;
}
.cyan-border {
  border-top: 4px solid $cyan;
}
.yellow-border {
  border-top: 4px solid $yellow;
}
.grey-border {
  border-top: 4px solid #787878;
}
 
figure h2 {
  font-size: 1.8em;
  margin-bottom: .5em;
}

figure {
  margin: 2.5em 0 1em;
  padding-bottom: 2em;
  @include outer-container;

  figcaption {
    margin-top: 1em;
  }

  &:first-of-type {
    border-bottom: 1px solid #ccc;
  }
}

@include mq(52em) {
  figure.right {
    $default-layout-direction: LTR !global;

    figcaption {
      @include span-columns(4);
    }

    img {
      @include span-columns(8);
    }
  }

  figure.left {
    $default-layout-direction: RTL !global;

    figcaption {
      @include span-columns(4);
    }

    img {
      @include span-columns(8);
    }
  }
}

// ======================================================
// Content - Contest
// ======================================================

.page-header {
  font-size: 1.7em;

  @include mq(52em) {
    font-size: 2.1em;
  }

  @include mq(58em) {
    font-size: 2.4em;
  }

  @include mq(64em) {
    font-size: 2.7em;
  }
}

.page-header + em {
  display: block;
  margin-top: .5em;
  max-width: 50em;
}

.contest {
  @include outer-container;

  ul {
    @extend %default-ul;
  }
}

.address {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;

  @include mq(52em) {
    margin-bottom: 0;
  }
}

.button.primary {
  margin: 2em auto;
  width: 100%;
  display: block;
}

$gutter: 8em;
$default-layout-direction: LTR !global;

@import "neat/neat";

@include mq(52em) {
  .contest-categories, .contest-requirements  {
    @include span-columns(6);
  }
}

.contest-details {
  @include clearfix;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: 2em; 

  & ~ .contest-details {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

// ======================================================
// Content - Blog
// ======================================================

//@import "partials/blog"; 

$gutter: 2em;

@import "neat/neat";

main.blog {
  @include outer-container;

  img {
    height: 100%;
    width: 100%;
    margin: 1.5em 0 .5em;
    display: block;
  }
}

.post, .post-listing {
  position: relative;

  @include mq(52em) {
    @include span-columns(9);
    padding: 0 2em 0 0;
  
    &:after {
      border-right: 1px solid #ccc;
      content: '';
      position: absolute;
      right: 0;
      top: 4.2em;
      bottom: 0;
    }
  }
}

.post {
  ul {
    @extend %default-ul;
  }
  
  h1 {
    margin-bottom: .5em;

    @include mq(52em) {
      margin-bottom: .25em;
    }
  }
}

.results {
  h1 {
    padding-bottom: .325em;
  }

  h3 {
    border-bottom: 1px solid #ccc;
    padding: .75em 0;
    
    &:last-child {
      border-bottom: 0;
    }
  }
}

.results-link:nth-child(n+5) {
  display: none;
}

.post-listing {
  h2 {
    font-family: 'nexa-regular', $sans-serif;
    margin-bottom: .5em;
  }
  .entry-published {
    font-family: 'nexa-heavy', $sans-serif;
    font-size: .9em;
    margin-bottom: 0;
  }

  .listing {
    margin-top: 1.2em;

    li {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid #ccc;

      &:first-child {
        border: 0;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }
}

.paging {
  margin-top: 1em;

  .previous {
    margin-right: .5em;
    float: left;
  }

  .next {
    margin-left: .5em;
  }
}

nav.sidebar {

  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-top: 1em;

  @include mq(52em) {
    @include span-columns(3);
    margin: 4em 0 0 0;
    padding-top: 0;
    border:0;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: .75em;
  }

  .winner-nav {
    @extend %default-ul;

    li {
      display: list-item;
    }

    li a { 
      display: block;
    }
  }
  
  & > ul {
    @media (min-width: 28em) and (max-width: 36em) {
      @include outer-container;

      & > li {
        @include span-columns(5);
        @include omega(2n);
      }
    }
    @media (min-width: 36em) and (max-width: 52em) {
      @include outer-container;

      & > li {
        @include span-columns(4);
        @include omega(3n);
      }
    }
  }

  ul {
    float: none;

    & ul {
      @extend %default-ul;
      margin-bottom: .75em;

      li {
        a {
          color: #477dca;
        }
      }
    }
  }
}

.comment-form {
  padding: 1em;
  margin-top: 2em;
  background-color: #eee;
  border: 1px solid #ccc;

  .button {
    margin-top: 0;
  }
}

.input-note {
  color: #787878;
  font-size: .9em;
  margin: 0 0 .6em;
  display: inline-block;
}

// ======================================================
// Buttons
// ======================================================

.button.magenta {
  @include button(simple, lighten($magenta, 5));
}

.button.cyan {
  @include button(simple, $cyan);
}

.button.yellow {
  @include button(simple, $yellow);
}

.button.grey {
  @include button(simple, $grey);
}

.button {
  width: 100%;
  max-width: 20em;
  margin: 1em auto 0;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1em;

  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @include mq(52em) {
    font-size: .9em !important;
  }

  @include mq(64em) {
    font-size: 1em !important;
  }
}