/*!

 Only edit the ....

            ||||||||||    ||||||||||    ||||||||||    ||||||||||    
            ||            ||            ||            ||           
            ||            ||            ||            ||            
            ||            ||            ||            ||             
            ||||||||||    ||            ||||||||||    ||||||||||            
                    ||    ||                    ||            ||            
  ||||||            ||    ||                    ||            ||            
  ||  ||            ||    ||                    ||            ||            
  ||||||    ||||||||||    ||||||||||    ||||||||||    ||||||||||             

 files please. When scss compiles, it overwrites the css file,
 so any changes will be long gone if you do them there.

 If you google 'working with scss files' you should be able
 to figure it out, you seem pretty smart.

*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropdown {
  position: relative; }

.dropdown-menu {
  max-height: 0;
  -webkit-transition: max-height 150ms linear;
  -moz-transition: max-height 150ms linear;
  transition: max-height 150ms linear;
  overflow: hidden;
  padding-left: 0.5em; }
  @media (min-width: 52em) {
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10em;
      overflow: visible;
      padding: .4em 0;
      max-height: none;
      list-style: none;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); } }
  .dropdown-menu:before {
    content: '';
    border-top: 1px solid #6cc1db;
    display: block;
    width: 95%;
    margin-left: .5em; }
    @media (min-width: 52em) {
      .dropdown-menu:before {
        content: none; } }
  .dropdown-menu.is-active {
    max-height: 15em; }
    @media (min-width: 48em) {
      .dropdown-menu.is-active {
        max-height: none;
        display: block; } }

.dropdown-menu > li > a {
  display: block;
  padding: .35em .5em;
  margin: .2em 0;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
  color: #333; }
  @media (min-width: 52em) {
    .dropdown-menu > li > a {
      padding: .2em .8em;
      margin-left: -.1em; } }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #333;
  text-decoration: none; }

.open {
  z-index: 1000; }

.open > .dropdown-menu {
  max-height: 15em; }
  @media (min-width: 52em) {
    .open > .dropdown-menu {
      display: block;
      max-height: none; } }

@font-face {
  font-family: "nexa-extra-bold";
  src: url("../fonts/Nexa_XBold-webfont/Nexa_XBold-webfont.eot");
  src: url("../fonts/Nexa_XBold-webfont/Nexa_XBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_XBold-webfont/Nexa_XBold-webfont.woff") format("woff"), url("../fonts/Nexa_XBold-webfont/Nexa_XBold-webfont.ttf") format("truetype"), url("../fonts/Nexa_XBold-webfont/Nexa_XBold-webfont.svg#nexa-extra-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-extra-bold";
  src: url("../fonts/Nexa_XBold_Italic-webfont/Nexa_XBold_Italic-webfont.eot");
  src: url("../fonts/Nexa_XBold_Italic-webfont/Nexa_XBold_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_XBold_Italic-webfont/Nexa_XBold_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_XBold_Italic-webfont/Nexa_XBold_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_XBold_Italic-webfont/Nexa_XBold_Italic-webfont.svg#nexa-extra-bold") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-black";
  src: url("../fonts/Nexa_Black-webfont/Nexa_Black-webfont.eot");
  src: url("../fonts/Nexa_Black-webfont/Nexa_Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Black-webfont/Nexa_Black-webfont.woff") format("woff"), url("../fonts/Nexa_Black-webfont/Nexa_Black-webfont.ttf") format("truetype"), url("../fonts/Nexa_Black-webfont/Nexa_Black-webfont.svg#nexa-black") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-black";
  src: url("../fonts/Nexa_Black_Italic-webfont/Nexa_Black_Italic-webfont.eot");
  src: url("../fonts/Nexa_Black_Italic-webfont/Nexa_Black_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Black_Italic-webfont/Nexa_Black_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Black_Italic-webfont/Nexa_Black_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Black_Italic-webfont/Nexa_Black_Italic-webfont.svg#nexa-black") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-heavy";
  src: url("../fonts/Nexa_Heavy-webfont/Nexa_Heavy-webfont.eot");
  src: url("../fonts/Nexa_Heavy-webfont/Nexa_Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Heavy-webfont/Nexa_Heavy-webfont.woff") format("woff"), url("../fonts/Nexa_Heavy-webfont/Nexa_Heavy-webfont.ttf") format("truetype"), url("../fonts/Nexa_Heavy-webfont/Nexa_Heavy-webfont.svg#nexa-heavy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-heavy";
  src: url("../fonts/Nexa_Heavy_Italic-webfont/Nexa_Heavy_Italic-webfont.eot");
  src: url("../fonts/Nexa_Heavy_Italic-webfont/Nexa_Heavy_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Heavy_Italic-webfont/Nexa_Heavy_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Heavy_Italic-webfont/Nexa_Heavy_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Heavy_Italic-webfont/Nexa_Heavy_Italic-webfont.svg#nexa-heavy") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-bold";
  src: url("../fonts/Nexa_Bold-webfont/Nexa_Bold-webfont.eot");
  src: url("../fonts/Nexa_Bold-webfont/Nexa_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Bold-webfont/Nexa_Bold-webfont.woff") format("woff"), url("../fonts/Nexa_Bold-webfont/Nexa_Bold-webfont.ttf") format("truetype"), url("../fonts/Nexa_Bold-webfont/Nexa_Bold-webfont.svg#nexa-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-bold";
  src: url("../fonts/Nexa_Bold_Italic-webfont/Nexa_Bold_Italic-webfont.eot");
  src: url("../fonts/Nexa_Bold_Italic-webfont/Nexa_Bold_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Bold_Italic-webfont/Nexa_Bold_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Bold_Italic-webfont/Nexa_Bold_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Bold_Italic-webfont/Nexa_Bold_Italic-webfont.svg#nexa-bold") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-book";
  src: url("../fonts/Nexa_Book-webfont/Nexa_Book-webfont.eot");
  src: url("../fonts/Nexa_Book-webfont/Nexa_Book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Book-webfont/Nexa_Book-webfont.woff") format("woff"), url("../fonts/Nexa_Book-webfont/Nexa_Book-webfont.ttf") format("truetype"), url("../fonts/Nexa_Book-webfont/Nexa_Book-webfont.svg#nexa-book") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-book";
  src: url("../fonts/Nexa_Book_Italic-webfont/Nexa_Book_Italic-webfont.eot");
  src: url("../fonts/Nexa_Book_Italic-webfont/Nexa_Book_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Book_Italic-webfont/Nexa_Book_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Book_Italic-webfont/Nexa_Book_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Book_Italic-webfont/Nexa_Book_Italic-webfont.svg#nexa-book") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-regular";
  src: url("../fonts/Nexa_Regular-webfont/Nexa_Regular-webfont.eot");
  src: url("../fonts/Nexa_Regular-webfont/Nexa_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Regular-webfont/Nexa_Regular-webfont.woff") format("woff"), url("../fonts/Nexa_Regular-webfont/Nexa_Regular-webfont.ttf") format("truetype"), url("../fonts/Nexa_Regular-webfont/Nexa_Regular-webfont.svg#nexa-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-regular";
  src: url("../fonts/Nexa_Italic-webfont/Nexa_Italic-webfont.eot");
  src: url("../fonts/Nexa_Italic-webfont/Nexa_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Italic-webfont/Nexa_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Italic-webfont/Nexa_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Italic-webfont/Nexa_Italic-webfont.svg#nexa-regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-light";
  src: url("../fonts/Nexa_Light-webfont/Nexa_Light-webfont.eot");
  src: url("../fonts/Nexa_Light-webfont/Nexa_Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Light-webfont/Nexa_Light-webfont.woff") format("woff"), url("../fonts/Nexa_Light-webfont/Nexa_Light-webfont.ttf") format("truetype"), url("../fonts/Nexa_Light-webfont/Nexa_Light-webfont.svg#nexa-light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-light";
  src: url("../fonts/Nexa_Light_Italic-webfont/Nexa_Light_Italic-webfont.eot");
  src: url("../fonts/Nexa_Light_Italic-webfont/Nexa_Light_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Light_Italic-webfont/Nexa_Light_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Light_Italic-webfont/Nexa_Light_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Light_Italic-webfont/Nexa_Light_Italic-webfont.svg#nexa-light") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-thin";
  src: url("../fonts/Nexa_Thin-webfont/Nexa_Thin-webfont.eot");
  src: url("../fonts/Nexa_Thin-webfont/Nexa_Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Thin-webfont/Nexa_Thin-webfont.woff") format("woff"), url("../fonts/Nexa_Thin-webfont/Nexa_Thin-webfont.ttf") format("truetype"), url("../fonts/Nexa_Thin-webfont/Nexa_Thin-webfont.svg#nexa-thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "nexa-thin";
  src: url("../fonts/Nexa_Thin_Italic-webfont/Nexa_Thin_Italic-webfont.eot");
  src: url("../fonts/Nexa_Thin_Italic-webfont/Nexa_Thin_Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa_Thin_Italic-webfont/Nexa_Thin_Italic-webfont.woff") format("woff"), url("../fonts/Nexa_Thin_Italic-webfont/Nexa_Thin_Italic-webfont.ttf") format("truetype"), url("../fonts/Nexa_Thin_Italic-webfont/Nexa_Thin_Italic-webfont.svg#nexa-thin") format("svg");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
.button {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em; }
  .button:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #628cc8;
    cursor: pointer;
    background-color: #3c71bb;
    background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
    background-image: linear-gradient(#3c71bb, #255aa5); }
  .button:active:not(:disabled), .button:focus:not(:disabled) {
    border: 1px solid #2459a6;
    box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397; }
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

body {
  color: #333333;
  font-family: "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #b9b9b9;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #b9b9b9;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #b9b9b9;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: lightgray;
  border: 1px solid #b9b9b9;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: normal;
  margin-bottom: 1em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: #fafafa;
  border-radius: 0.1875em;
  border: 1px solid #b9b9b9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #a0a0a0; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #939393;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #b9b9b9;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .contest ul, .post ul, nav.sidebar ul.winner-nav, nav.sidebar ul ul, nav.sidebar ol.winner-nav {
    list-style-type: square;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (min-width: 52em) {
    html {
      font-size: 18px; } }

body {
  width: 90%;
  margin: 0 auto;
  max-width: 70em;
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: 400 !important;
  overflow-x: hidden; }

h2 {
  font-size: 1.4em; }
  @media (min-width: 64em) {
    h2 {
      font-size: 1.7em; } }

.logo-name {
  font-family: "nexa-black", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #333333;
  font-size: 2.4em; }
  @media (min-width: 52em) {
    .logo-name {
      font-size: 3.4em; } }

.h-group {
  float: left; }

.subhead {
  line-height: .4;
  color: #808080;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .5em; }
  @media (min-width: 52em) {
    .subhead {
      font-size: 1em;
      letter-spacing: .65em; } }

h1 {
  font-family: "nexa-extra-bold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

h2 {
  font-family: "nexa-heavy", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

a.header-link:hover .logo {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 500ms ease-in;
  -moz-transition: -moz-transform 500ms ease-in;
  transition: transform 500ms ease-in; }

.logo {
  position: relative;
  float: left;
  width: 2.873rem;
  height: 2.873rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }
  .logo i {
    border: 1px solid #ccc;
    border-radius: 13.6px;
    border-radius: 0.85rem;
    width: 27.2px;
    width: 1.7rem;
    height: 27.2px;
    height: 1.7rem;
    position: absolute;
    opacity: .8;
    top: 0.612rem;
    left: 1.224rem; }
  .logo i:first-child {
    top: 0;
    left: 0; }
  .logo i:last-child {
    top: 1.224rem;
    left: 0; }

@media (min-width: 52em) {
  .logo {
    position: relative;
    float: left;
    width: 3.887rem;
    height: 3.887rem;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden; }
    .logo i {
      border: 1px solid #ccc;
      border-radius: 18.4px;
      border-radius: 1.15rem;
      width: 36.8px;
      width: 2.3rem;
      height: 36.8px;
      height: 2.3rem;
      position: absolute;
      opacity: .8;
      top: 0.828rem;
      left: 1.656rem; }
    .logo i:first-child {
      top: 0;
      left: 0; }
    .logo i:last-child {
      top: 1.656rem;
      left: 0; } }
.logo {
  margin: 8px 0 0 3.2px;
  margin: 0.5rem 0 0 0.2rem; }
  @media (min-width: 52em) {
    .logo {
      margin: 14.4px 0 0 8px;
      margin: 0.9rem 0 0 0.5rem; } }

.magenta {
  background-color: #f97fc1; }

.cyan {
  background-color: #79d7f4; }

.yellow {
  background-color: #fff469; }

header {
  padding: 0 0 4.2em;
  background: #fff;
  -webkit-transition: margin-top 150ms linear;
  -moz-transition: margin-top 150ms linear;
  transition: margin-top 150ms linear; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 52em) {
    header {
      margin-bottom: 0;
      padding-bottom: 0; } }

header nav {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 150ms linear;
  -moz-transition: max-height 150ms linear;
  transition: max-height 150ms linear;
  margin: 0 -6% 1em; }
  @media (min-width: 52em) {
    header nav {
      position: relative;
      margin: 0;
      width: auto;
      z-index: 1;
      overflow: visible; } }

header.is-active nav {
  max-height: 10em; }

header.is-active.dropdown-present nav {
  max-height: 19em; }

#site-nav-button {
  float: right;
  width: auto;
  font-size: .8em;
  padding: .5em 0.75em;
  line-height: 0.5;
  margin-top: 1.5em; }
  #site-nav-button img {
    width: 1.3em; }
  @media (min-width: 52em) {
    #site-nav-button {
      display: none; } }

nav > ul a {
  display: inline-block; }
@media (min-width: 52em) {
  nav > ul {
    float: right; } }

[data-toggle="dropdown"]:after {
  content: "";
  border-left: 4px solid rgba(255, 255, 255, 0);
  border-right: 4px solid rgba(255, 255, 255, 0);
  -moz-transform: scale(0.9999);
  border-top: 6px solid #333333;
  display: inline-block;
  margin-left: .5em;
  margin-bottom: .2em; }

@media (min-width: 52em) {
  .nav-link {
    float: left;
    -webkit-transition: background-color 150ms ease-in;
    -moz-transition: background-color 150ms ease-in;
    transition: background-color 150ms ease-in; }
    .nav-link.magenta:hover {
      background-color: #fba6d4; }
    .nav-link.cyan:hover {
      background-color: #9fe2f7; }
    .nav-link.yellow:hover {
      background-color: #fff792; } }
.nav-link > a {
  color: #333333;
  position: relative;
  padding: .5em 1em .5em 5%;
  width: 100%; }
  @media (min-width: 52em) {
    .nav-link > a {
      padding: 4em 1em .5em;
      width: auto; } }

footer {
  padding: 1em 0;
  margin-bottom: -1em;
  border-top: 1px solid #ccc;
  margin-top: 2em; }
  footer p {
    margin-bottom: 0; }

@media (min-width: 52em) {
  .dropdown.cyan .dropdown-menu {
    border: 4px solid #79d7f4; }
    .dropdown.cyan .dropdown-menu a {
      background-color: none;
      -webkit-transition: background-color 150ms ease-in;
      -moz-transition: background-color 150ms ease-in;
      transition: background-color 150ms ease-in; }
    .dropdown.cyan .dropdown-menu a:hover, .dropdown.cyan .dropdown-menu a:focus {
      background-color: #86dbf5; } }

main {
  clear: both;
  padding: 2em .75em 0;
  margin-top: -3em;
  display: block; }
  @media (min-width: 52em) {
    main {
      margin-top: 0;
      padding: 2em 1.5em 0; } }

main.blog, main.contest {
  padding: 1.5em 0 0; }
  @media (min-width: 36em) {
    main.blog, main.contest {
      padding: 2em .75em 0; } }
  @media (min-width: 52em) {
    main.blog, main.contest {
      margin-top: 0;
      padding: 2em 1.5em 0; } }

.photo-credit {
  color: #000;
  font-size: .7em;
  position: absolute;
  top: 100%;
  left: 0; }
  @media (min-width: 52em) {
    .photo-credit {
      font-size: .6em; } }

.intro {
  padding: 1em .8em;
  text-align: center;
  max-width: 70em;
  background: 0 40% no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  margin: -2em -.75em 1.5em;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/newspaper-background.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/newspaper-background.png"); }
  @media (min-width: 52em) {
    .intro {
      padding: 3em 2em;
      margin: -2em -1.5em 1.5em; } }
  .intro p {
    max-width: 50em;
    margin: 0 auto .75em;
    font-size: 0.9em;
    line-height: 1.6; }
    @media (min-width: 52em) {
      .intro p {
        font-size: 1em;
        line-height: 1.5; } }
  .intro a.button {
    display: block;
    margin-top: 2em; }

.magenta-border {
  border-top: 4px solid #f97fc1; }

.cyan-border {
  border-top: 4px solid #79d7f4; }

.yellow-border {
  border-top: 4px solid #fff469; }

.grey-border {
  border-top: 4px solid #787878; }

figure h2 {
  font-size: 1.8em;
  margin-bottom: .5em; }

figure {
  margin: 2.5em 0 1em;
  padding-bottom: 2em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  figure:after {
    content: "";
    display: table;
    clear: both; }
  figure figcaption {
    margin-top: 1em; }
  figure:first-of-type {
    border-bottom: 1px solid #ccc; }

@media (min-width: 52em) {
  figure.right figcaption {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    figure.right figcaption:last-child {
      margin-right: 0; }
  figure.right img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    figure.right img:last-child {
      margin-right: 0; }

  figure.left figcaption {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 31.76157%; }
    figure.left figcaption:last-child {
      margin-left: 0; }
  figure.left img {
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 65.88078%; }
    figure.left img:last-child {
      margin-left: 0; } }
.page-header {
  font-size: 1.7em; }
  @media (min-width: 52em) {
    .page-header {
      font-size: 2.1em; } }
  @media (min-width: 58em) {
    .page-header {
      font-size: 2.4em; } }
  @media (min-width: 64em) {
    .page-header {
      font-size: 2.7em; } }

.page-header + em {
  display: block;
  margin-top: .5em;
  max-width: 50em; }

.contest {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .contest:after {
    content: "";
    display: table;
    clear: both; }

.address {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em; }
  @media (min-width: 52em) {
    .address {
      margin-bottom: 0; } }

.button.primary {
  margin: 2em auto;
  width: 100%;
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 52em) {
  .contest-categories, .contest-requirements {
    float: left;
    display: block;
    margin-right: 5.76246%;
    width: 47.11877%; }
    .contest-categories:last-child, .contest-requirements:last-child {
      margin-right: 0; } }
.contest-details {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  padding-bottom: 2em; }
  .contest-details:after {
    content: "";
    display: table;
    clear: both; }
  .contest-details ~ .contest-details {
    margin: 0;
    padding: 0;
    border: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main.blog {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main.blog:after {
    content: "";
    display: table;
    clear: both; }
  main.blog img {
    height: 100%;
    width: 100%;
    margin: 1.5em 0 .5em;
    display: block; }

.post, .post-listing {
  position: relative; }
  @media (min-width: 52em) {
    .post, .post-listing {
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 74.31347%;
      padding: 0 2em 0 0; }
      .post:last-child, .post-listing:last-child {
        margin-right: 0; }
      .post:after, .post-listing:after {
        border-right: 1px solid #ccc;
        content: '';
        position: absolute;
        right: 0;
        top: 4.2em;
        bottom: 0; } }

.post h1 {
  margin-bottom: .5em; }
  @media (min-width: 52em) {
    .post h1 {
      margin-bottom: .25em; } }

.results h1 {
  padding-bottom: .325em; }
.results h3 {
  border-bottom: 1px solid #ccc;
  padding: .75em 0; }
  .results h3:last-child {
    border-bottom: 0; }

.results-link:nth-child(n+5) {
  display: none; }

.post-listing h2 {
  font-family: "nexa-regular", "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-bottom: .5em; }
.post-listing .entry-published {
  font-family: "nexa-heavy", "nexa-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: .9em;
  margin-bottom: 0; }
.post-listing .listing {
  margin-top: 1.2em; }
  .post-listing .listing li {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc; }
    .post-listing .listing li:first-child {
      border: 0;
      padding-top: 0;
      margin-top: 0; }

.paging {
  margin-top: 1em; }
  .paging .previous {
    margin-right: .5em;
    float: left; }
  .paging .next {
    margin-left: .5em; }

nav.sidebar {
  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-top: 1em; }
  @media (min-width: 52em) {
    nav.sidebar {
      float: left;
      display: block;
      margin-right: 2.74614%;
      width: 22.9404%;
      margin: 4em 0 0 0;
      padding-top: 0;
      border: 0; }
      nav.sidebar:last-child {
        margin-right: 0; } }
  nav.sidebar h3 {
    font-size: 1.2em;
    margin-bottom: .75em; }
  nav.sidebar .winner-nav li {
    display: list-item; }
  nav.sidebar .winner-nav li a {
    display: block; }
  @media (min-width: 28em) and (max-width: 36em) {
    nav.sidebar > ul {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      nav.sidebar > ul:after {
        content: "";
        display: table;
        clear: both; }
      nav.sidebar > ul > li {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 40.06475%; }
        nav.sidebar > ul > li:last-child {
          margin-right: 0; }
        nav.sidebar > ul > li:nth-child(2n) {
          margin-right: 0; }
        nav.sidebar > ul > li:nth-child(2n+1) {
          clear: left; } }
  @media (min-width: 36em) and (max-width: 52em) {
    nav.sidebar > ul {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto; }
      nav.sidebar > ul:after {
        content: "";
        display: table;
        clear: both; }
      nav.sidebar > ul > li {
        float: left;
        display: block;
        margin-right: 2.74614%;
        width: 31.50258%; }
        nav.sidebar > ul > li:last-child {
          margin-right: 0; }
        nav.sidebar > ul > li:nth-child(3n) {
          margin-right: 0; }
        nav.sidebar > ul > li:nth-child(3n+1) {
          clear: left; } }
  nav.sidebar ul {
    float: none; }
    nav.sidebar ul ul {
      margin-bottom: .75em; }
      nav.sidebar ul ul li a {
        color: #477dca; }

.comment-form {
  padding: 1em;
  margin-top: 2em;
  background-color: #eee;
  border: 1px solid #ccc; }
  .comment-form .button {
    margin-top: 0; }

.input-note {
  color: #787878;
  font-size: .9em;
  margin: 0 0 .6em;
  display: inline-block; }

.button.magenta {
  border: 1px solid #ff4bac;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fce2f0;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #fa97cd;
  background-image: -webkit-linear-gradient(#fa97cd, #ff5ab3);
  background-image: linear-gradient(#fa97cd, #ff5ab3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffa7d7;
  background-clip: padding-box; }
  .button.magenta:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #f8b3d8;
    cursor: pointer;
    background-color: #f682c1;
    background-image: -webkit-linear-gradient(#f682c1, #fe4cac);
    background-image: linear-gradient(#f682c1, #fe4cac); }
  .button.magenta:active:not(:disabled), .button.magenta:focus:not(:disabled) {
    border: 1px solid #ff4bac;
    box-shadow: inset 0 0 8px 4px #fd3ea5, inset 0 0 8px 4px #fd3ea5; }
  .button.magenta:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.button.cyan {
  border: 1px solid #2dc8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #c2ebf7;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #79d7f4;
  background-image: -webkit-linear-gradient(#79d7f4, #3cccf9);
  background-image: linear-gradient(#79d7f4, #3cccf9);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #86e0fc;
  background-clip: padding-box; }
  .button.cyan:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #95dcf2;
    cursor: pointer;
    background-color: #65ceef;
    background-image: -webkit-linear-gradient(#65ceef, #2ec8f7);
    background-image: linear-gradient(#65ceef, #2ec8f7); }
  .button.cyan:active:not(:disabled), .button.cyan:focus:not(:disabled) {
    border: 1px solid #2dc8f8;
    box-shadow: inset 0 0 8px 4px #21c3f6, inset 0 0 8px 4px #21c3f6; }
  .button.cyan:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.button.yellow {
  border: 1px solid #ffef22;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fcf7b8;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #fff469;
  background-image: -webkit-linear-gradient(#fff469, #fff031);
  background-image: linear-gradient(#fff469, #fff031);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff57d;
  background-clip: padding-box; }
  .button.yellow:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #fbf287;
    cursor: pointer;
    background-color: #fbef53;
    background-image: -webkit-linear-gradient(#fbef53, #ffef22);
    background-image: linear-gradient(#fbef53, #ffef22); }
  .button.yellow:active:not(:disabled), .button.yellow:focus:not(:disabled) {
    border: 1px solid #ffef22;
    box-shadow: inset 0 0 8px 4px #ffee12, inset 0 0 8px 4px #ffee12; }
  .button.yellow:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.button.grey {
  border: 1px solid #cacaca;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(#eeeeee, #d2d2d2);
  background-image: linear-gradient(#eeeeee, #d2d2d2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f8f8f8;
  background-clip: padding-box;
  border: 1px solid #cfc6c6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(#eeeeee, #d6cece);
  background-image: linear-gradient(#eeeeee, #d6cece);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f9f8f8;
  background-clip: padding-box; }
  .button.grey:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #fbfbfb;
    cursor: pointer;
    background-color: #e1e1e1;
    background-image: -webkit-linear-gradient(#e1e1e1, #cacaca);
    background-image: linear-gradient(#e1e1e1, #cacaca); }
  .button.grey:active:not(:disabled), .button.grey:focus:not(:disabled) {
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 8px 4px #c3c3c3, inset 0 0 8px 4px #c3c3c3; }
  .button.grey:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #fbfbfb;
    cursor: pointer;
    background-color: #e1e1e1;
    background-image: -webkit-linear-gradient(#e1e1e1, #cfc6c6);
    background-image: linear-gradient(#e1e1e1, #cfc6c6); }
  .button.grey:active:not(:disabled), .button.grey:focus:not(:disabled) {
    border: 1px solid #cfc6c6;
    box-shadow: inset 0 0 8px 4px #c7bebe, inset 0 0 8px 4px #c7bebe; }
  .button.grey:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.button {
  width: 100%;
  max-width: 20em;
  margin: 1em auto 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  @media (min-width: 52em) {
    .button {
      font-size: .9em !important; } }
  @media (min-width: 64em) {
    .button {
      font-size: 1em !important; } }
