.dropdown {
  position: relative;
}

.dropdown-menu { 
  max-height: 0;
  @include transition(max-height 150ms linear);
  overflow: hidden;
  padding-left: 0.5em;

  @include mq(52em) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10em;
    overflow: visible;
    padding: .4em 0;
    max-height: none;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:before {
    content: '';
    border-top: 1px solid shade($cyan, 10%);
    display: block;
    width: 95%;
    margin-left: .5em;

    @include mq(52em) {
      content: none;
    }
  }

  &.is-active {
    max-height: 15em;

    @include mq(48em) {
      max-height: none;
      display: block;
    }
  }
}

.dropdown-menu > li > a {
    display: block;
    padding: .35em .5em;
    margin: .2em 0;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    white-space: nowrap;
    color: #333;

    @include mq(52em) {
      padding: .2em .8em;
      margin-left: -.1em;
    }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #333;
  text-decoration: none;
}

.open {
  z-index: 1000;
} 

.open > .dropdown-menu {
  max-height: 15em;

  @include mq(52em) {
    display: block;
    max-height: none;
  }
}
